spring:
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dingdong_order?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root

  # Redis 配置
  redis:
    host: localhost
    port: 6379
    password: root # 如果Redis有密码，填写对应的密码；如果没有密码，可以省略此行
    database: 0 # Redis的数据库索引，默认为0

server:
  port: 8080  # 指定Spring Boot应用的端口号

mybatis-plus:
  configuration:
    # 在映射实体或者属性时，将数据中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: assign_id